    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 textin">
              <br/><br/>
              <h2 class="tei">Suporte Técnico Especializado, Atendimento Diferenciado</h2>
              <br/>
                <p>Precisando de uma ajuda de confiança com seu computador, notebook, Mac ou smartphone?</p>
				<p class="tei">Chama o TÊÍ!</p>
                <p>Com mais de 10 anos de experiência e prática, atendemos em todo o Rio de Janeiro, com preços justos e condições imbatíveis, serviço garantido!</p>
                <p>Suporte e Consultoria &middot; Windows, Mac, Android, iOS &middot; Redes &middot; Atendimeto Empresarial</p>
             
                <br/>
              </div>
        </div>
    </section>
