    <!-- About Section -->
    <section id="home">
	<div class="intro-header">
		<div class="container">
		<div class="row">
            <div class="col-lg-12 textin">
			  <br/><br/><img src="../img/fix.jpg" class="img-rounded"><br/>
			    <h2 class="tei">Suporte Técnico Especializado, Atendimento Personalizado</h2>
				<br/>
                <p>Precisando de uma ajuda de confiança com seu computador, notebook, Mac ou smartphone? <span class="tei">Chama o TÊÍ!</span</p>
                <p>Com mais de 10 anos de experiência e prática, atendemos em todo o Rio de Janeiro, com preços justos e condições imbatíveis, serviço garantido!</p>
                <p><br/>Suporte e Consultoria &middot; Windows, Mac, Android, iOS &middot; Redes &middot; Atendimento Empresarial</p>
				<br/><br/>
			</div>
        </div>
		</div>
	</div>
    </section>
